
.btn-effect{
	animation: bounce 1.3s ease-out;	
}
.btn-effect-wave{
	animation: wave 1.3s ease-out;	
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateX(0);
		transform: translateX(0);
	}

	40% {
		-webkit-transform: translateX(-30px);
		transform: translateX(-30px);
	}

	80% {
		-webkit-transform: translateX(-10px);
		transform: translateX(-10px);
	}
}
@keyframes bounceTop {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	80% {
		-webkit-transform: translateY(10px);
		transform: translateY(10px);
	}
}
@keyframes wave {
	0%, 60%, 100% {
		transform: initial;
	}

	30% {
		transform: translateY(-15px);
		-webkit-transform: translateY(-15px);
	}
}
@keyframes wavedown {
	0%, 60%, 100% {
		transform: initial;
	}
	30% {
		transform: translateY(8px);
		-webkit-transform: translateY(8px);
	}
	80% {
		transform: translateY(4px);
		-webkit-transform: translateY(4px);
	}
	90% {
		transform: translateY(6px);
		-webkit-transform: translateY(6px);
	}
}

.btn-box{
	position:relative;	
	perspective: 1000px;
    transform-style: preserve-3d;	
	text-align:center;
}
/* ------------------------------------- */
  
			.div-button {
				font-family: 'Pluto_Medium';
				background: transparent;
				color: #f2f2f2;
				padding: 10px;
				font-size: 18px;
				position: relative;
				box-sizing: border-box;
				width:315px;
				font-size:14.5px;
				height:45px;
				position:absolute;
				top:50%;
				border:0px solid #fff;
				color:#fff;	
				padding:10px;
				text-align:center;
				left: 0;
				right: 0;
				margin: 0 auto;	
				
				text-align: center;
				background: none;
				cursor: pointer;
				text-transform: uppercase;
				letter-spacing: 1px;
				outline: none;
				position: absolute;
				/* -webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				transition: all 0.3s; */
				
				border: 2px solid #fff;
				color: #fff;
				
			}
			
			.div-button:after {
				text-align:center;
				font-size:14.5px;
				top: 50%;
				left: 0px;
				width: 315px;
				height:0px;
				padding: 10px 0;
				position: absolute;
				background: transparent;
				border:0px solid #fff;
				content: "";
				color: #a20067;
				text-align:center;
				left: 0;
				right: 0;
				margin: 0 auto;	
				
				z-index: -1;
				-webkit-transition: all 0.3s;
				-moz-transition: all 0.3s;
				transition: all 0.3s;
			}

			.div-button:before {
				speak: none;
				text-transform: none;
				line-height: 1;
				position: relative;
				-webkit-font-smoothing: antialiased;
			}
			
			.btnMenu:after {
				width: 0%;
				height: 100%;
				top: 0;
				left: 0;
				background: #fff;
			}

			.btnMenu:hover{
				color: #a20067;
			}

			.btnMenu:hover:after{
				width: 100%;
			}
			
			.visited{
				color: #a20067;
				width: 315px;
				background: #fff;
			}
		  
/* ------------------------------------- */

@keyframes pulse-long1 {
  100% {
	box-shadow: 0 0 0 20px  #a2206b;
	-moz-box-shadow: 0 0 0 20px  #a2206b;
	-webkit-box-shadow: 0 0 0 20px  #a2206b;
	opacity: 0;
  }
}

@keyframes pulse-long2 {
  100% {
	box-shadow: 0 0 0 20px  #67bdb0;
	-moz-box-shadow: 0 0 0 20px  #67bdb0;
	-webkit-box-shadow: 0 0 0 20px  #67bdb0;
	opacity: 0;
  }
}
		.audioBtn.anim::before {
		  border-radius: 50%;
		  bottom: 0px;
		  content: "";
		  display: block;
		  height: 50px;
		  width: 50px;
		  margin: 0 auto;
		  position: relative;
		  top: 0px;
		}
		
.pulse:hover,.audioBtn.anim:hover::before,.transcriptBtn.anim:hover::before,.arrowBtn.anim:hover, .printButton.anim:hover::before, .pdfButton.anim:hover::before, .continueBtn.anim:hover::before{		  
		  animation: pulse-long1 1s;
		  box-shadow: 0 0 0 0 #a2206b inset;
		  display: block;
		  top: 0px;
		  transform: translate3d(0px, 0px, 0px);
}

.pulse:focus,.audioBtn.anim:focus,.transcriptBtn.anim:focus,.arrowBtn.anim:focus {
	display: block;
	opacity: 1;
	top: 0px;
	position: absolute;
}

@-webkit-keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--hover);
            box-shadow: 0 0 0 0 var(--hover);
  }
}

@keyframes pulse {
  0% {
    -webkit-box-shadow: 0 0 0 0 var(--hover);	
            box-shadow: 0 0 0 0 var(--hover);
  }
}
.pulse,.audioBtn.anim::before ,.transcriptBtn.anim::before ,.arrowBtn.anim,.printButton.anim::before ,.pdfButton.anim::before ,.continueBtn.anim::before {
 /*  --color: #a2206b;
  --hover: #a2206b; */
		border-radius: 50%;
		bottom: 0px;
		content: "";
		display: block;
		height: 50px;
		width: 50px;
		margin: 0 auto;
		position: absolute;
		top: 0px;
}

.pulse:hover::before,.audioBtn.clickedanim:hover::before,.transcriptBtn.clickedanim:hover::before {
		animation: pulse-long2 1s;
		box-shadow: 0 0 0 0 #67bdb0 inset;
		display: block;
		transform: translate3d(0px, 0px, 0px);
}
.pulse:focus,.audioBtn.clickedanim:focus,.transcriptBtn.clickedanim:focus {
	display: block;
	opacity: 1;
	top: 0px;
	height: 50px;
	width: 50px;
	position: absolute;
}
.pulse::before,.audioBtn.clickedanim::before,.transcriptBtn.clickedanim::before {
	border-radius: 50%;
	bottom: 0px;
	content: "";
	display: block;
	height: 50px;
	width: 50px;
	position: absolute;
	transform: translate3d(0px, -50%, 0px);
}
.titleMenu {
    margin-top: 106px;
    padding: 15px;
    text-align: center;
	position: fixed;
    display: block;
    margin: 0 auto;
    right: 0;
    left: 0;
    top: 105px;
}
.titleMenu h1{
	font-family: 'Pluto_Medium';
    background: border-box rgba(0, 0, 0, 0.25);
    display: inline-block;
    padding: 10px;
    color: #fff;
	
}

.show-text, .show-text1{
	font-family: 'Pluto_Regular';
	font-size: 12px;
	width:100%;
	position:absolute;
	width:82%;
	
	background: rgba(255, 255, 255, 0.9);
    bottom: 11%;
	left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
	padding: 0px;
	border: 1px solid #b1b1b1;
    line-height: 18px;
	max-height: 0;
    
	-webkit-transition: all 500ms ease-out 1s;
    -moz-transition: all 500ms ease-out 1s;
    -o-transition: all 500ms ease-out 1s;
    transition: all 500ms;
    overflow: hidden;
	opacity:0;
}
.show-text.show, .show-text1.show{
	padding: 20px;
	max-height: 300px;
    -webkit-transition: all 500ms;
    -moz-transition: all 500ms;
    -o-transition: all 500ms;
    transition: all 500ms;
	opacity:1;
}
.show-text .closeTxtBtn ,.show-text1 .closeTxtBtn , .s6feedBack .closeTxtBtn{
    width: 25px;
    height: 25px;
    position: absolute;
    cursor: pointer;
    border-radius: 30px;
    border: 1px solid #b1b1b1;
    color: #b1b1b1;
    background: #fff;
    padding: 3px;
    text-align: center;
    font-weight: bold;
    top: 3px;
    right: 3px;
    z-index: 9999;
	font-family: arial;
	font-size: 12px;
}

/* -webkit-animation: rad_rapidology_tada 1s 1 cubic-bezier(0.77,0,.175,1);
    animation: rad_rapidology_tada 1s 1 cubic-bezier(0.77,0,.175,1); */
@-webkit-keyframes rad_rapidology_tada {
  0% {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }

  10%,20% {
    -webkit-transform: scale3d(.9,.rad_rapidology .9,.rad_rapidology .9) rotate3d(0,0,1,-3deg);
    transform: scale3d(.9,.rad_rapidology .9,.rad_rapidology .9) rotate3d(0,0,1,-3deg);
  }

  30%,50%,70%,90% {
    -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
    transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,3deg);
  }

  40%,60%,80% {
    -webkit-transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
    transform: scale3d(1.1,1.1,1.1) rotate3d(0,0,1,-3deg);
  }

  100% {
    -webkit-transform: scale3d(1,1,1);
    transform: scale3d(1,1,1);
  }
}

.rect1,.rect2,.rect3,.rect4,.rect5{
	top:127px;
	transition: all .8s ease;
	opacity:0;
}
.rect1.anim{
	top:150px;
	transition: all .6s ease-out;
	opacity:1;
}
.rect2.anim{
	top:150px;
	transition: all .6s ease-out;
	opacity:1;
}.rect3.anim{
	top:150px;
	transition: all .6s ease-out;
	opacity:1;
}
.rect4.anim{
	top:150px;
	transition: all .6s ease-out;
	opacity:1;
}
.rect5.anim{
	top:150px;
	transition: all .6s ease-out;
	opacity:1;
}
